# 软件理论基础/第一次作业/MathModel.tex
软件理论基础/第一次作业/MathModel.fdb_latexmk
软件理论基础/第一次作业/MathModel.fls
软件理论基础/第一次作业/MathModel.log
# 软件理论基础/第一次作业/MathModel.pdf
软件理论基础/第一次作业/MathModel.synctex.gz
# 软件理论基础/第一次作业/MathModel.tex
软件理论基础/第一次作业/MathModel.xdv
软件理论基础/第一次作业/MathModel.aux
软件理论基础/第二次作业/second_homework.aux
软件理论基础/第二次作业/second_homework.fdb_latexmk
软件理论基础/第二次作业/second_homework.xdv
软件理论基础/第二次作业/second_homework.synctex.gz
软件理论基础/第二次作业/second_homework.log
软件理论基础/第二次作业/second_homework.fls
软件理论基础/第三次作业/thrid_homework.xdv
软件理论基础/第三次作业/thrid_homework.synctex.gz
软件理论基础/第三次作业/thrid_homework.log
软件理论基础/第三次作业/thrid_homework.fls
软件理论基础/第三次作业/thrid_homework.fdb_latexmk
软件理论基础/第三次作业/thrid_homework.aux
